* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font: 62.5% Lato, Sans-Serif;
}

header {
  height: 20vh;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 8px -6px rgba(0 ,0 ,0 , 0.50);
}

h1 {
  font-size: 2.5rem;
}

h1 i {
  font-size: 2.5rem;
}

.slider {
  height: 80vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  background: #333;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.current {
  opacity: 1;
}

.content {
  position: absolute;
  bottom: 8%;
  left: 0;
  transform: translatex(-100%);
  opacity: 0;
  width: 30%;
  background: rgba(255, 255, 255, 0.8);
  color: #000;
  padding: 8px 12px;
  transition: transform 0.5s ease 0.3s, opacity 0.5s ease 0.3s;
}

.content h2 {
  font-size: 1.8rem;
  margin-bottom: 5px;
}

.content p {
  font-size: 1.2rem;
}

.current .content {
  transform: translatex(0%);
  opacity: 1;
}

#next {
  position: absolute;
  top: 50%;
  right: 5%;
}

#prev {
  position: absolute;
  top: 50%;
  left: 5%;
}

.slide:first-child {
  background: url('slide1.jpg') no-repeat top;
  background-size: cover;
}

.slide:nth-child(2) {
  background: url('slide2.jpg') no-repeat top;
  background-size: cover;
}

.slide:nth-child(3) {
  background: url('slide3.jpg') no-repeat center;
  background-size: cover;
}

.slide:nth-child(4) {
  background: url('slide4.jpg') no-repeat center;
  background-size: cover;
}

.slide:nth-child(5) {
  background: url('slide5.jpg') no-repeat top;
  background-size: cover;
}

button {
  border: none;
  font-size: 4rem;
  background: none;
  color: #000;
  transition: transform 0.1s linear, filter 0.2s ease;
}

button:hover {
  filter: invert(1);
}

button:active {
  transform: scale(0.9);
}

@media only screen and (max-width: 360px) {
  .slide:first-child {
    background: url('slide1.jpg') no-repeat center;
    background-size: contain;
  }
  
  .slide:nth-child(2) {
    background: url('slide2.jpg') no-repeat center;
    background-size: contain;
  }
  
  .slide:nth-child(3) {
    background: url('slide3.jpg') no-repeat center;
    background-size: contain;
  }
  
  .slide:nth-child(4) {
    background: url('slide4.jpg') no-repeat center;
    background-size: contain;
  }
  
  .slide:nth-child(5) {
    background: url('slide5.jpg') no-repeat center;
    background-size: contain;
  }
  
  .content {
    bottom: 0;
    left: 50%;
    width: 50%;
    transform: translate(-50%, 100%);
  }
  
  .current .content {
    transform: translate(-50%, 0%);
  }
}